<h3>Equipment</h3>
<ul>
  <li *ngFor="let piece of equipment">
    <span *ngIf="equipmentBeingEdited !== piece; else elseBlock">
      <span (click)="edit(piece)" class="editable-text">{{piece.name}}</span>
      <!-- <span *ngIf="piece.firstMission">- 1st</span> -->
      <button (click)="remove(piece)">remove</button>
    </span>
    <ng-template #elseBlock>
      <input #updatedName (keyup.enter)="save(updatedName.value, piece)" value="{{piece.name}}"/>
      <button (click)="save(updatedName.value, piece)">save</button>
    </ng-template>
  </li>

<input #name type="text"/>
<!-- <label>First mission<input #firstMission type="checkbox"/></label> -->
<button (click)="add(name.value)">Add</button>